body {
    margin: 0;
    width: 100%;
}
.reference{
    float: right;
    margin: 5px 20px 0 0;
}
.main_title{
    font-family: Arial;
    font-size: 30px;
}
.author {
    font-size: 12px;
}

.result {
    float: right;
    width: 70%;
    line-height: 20px;
    font-size: 18px;
}

.controls {}

.coming_soon {
    font-style: italic;
    color: gray;
}

.filter_container {
    width: 100%;
    height: 100px;
    line-height: 20px;
    margin-left: 5px;
}

.filter_input {
    width: 25%;
    float:left;
}

.filter_input_label_container {
    margin-right: 15px;
    height: 26px;
}

.filter_input_textbox {
    resize: none;
    width: 95%;
    height: 100px;
}

.input {
    width: 28%;
    height: 900px;
    font-size: 18px;
    line-height: 20px;
}

.input_textarea {
    width: 100%;
    height: 100%;
    line-height: 20px;
    resize: none;
}

.desktop {
    padding: 10px 0 0 5px;
    clear: both;
}

.top_header {
    padding: 0 0 10px 10px;
    font-weight: bold;

background-image: linear-gradient(top, rgb(179,179,179) 4%, rgb(255,255,255) 52%);
background-image: -o-linear-gradient(top, rgb(179,179,179) 4%, rgb(255,255,255) 52%);
background-image: -moz-linear-gradient(top, rgb(179,179,179) 4%, rgb(255,255,255) 52%);
background-image: -webkit-linear-gradient(top, rgb(179,179,179) 4%, rgb(255,255,255) 52%);
background-image: -ms-linear-gradient(top, rgb(179,179,179) 4%, rgb(255,255,255) 52%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.04, rgb(179,179,179)),
	color-stop(0.52, rgb(255,255,255))
);    



}

.row_container {
    width: 100%;
    height: 20px;
    overflow: scroll;
    white-space: nowrap;;
}

.row_number_label {
    float: left;
    width: 40px;
    text-align: right;
    font-size: 8px;
}

.row_controls {
    float: right;
}

.row_line {
    overflow: show;
}

.blur-area-input {
    float: right;
    padding: 1px 5px 1px 5px;
}
.blur-area-input input {
    width: 30px;
    margin-left: 3px;
}

.blur-area-input.top_input {
    background: #E0F2F7;
}
.blur-area-input.bottom_input {
    background: #F7F8E0;
}
.should_hide {
    background: #6E6E6E!important;
}

.blur_top {
    background: #E0F2F7;
}
.blur_bottom {
    background: #F7F8E0;
}

.blur_top.blur_bottom {
    background: #F6CEF5;
}

.label-input {

}